<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.my.pojp,com.my.config"/>
    <bean id="person" class="com.my.pojp.Person"/>
    <!--    <bean id="flowerService" class="com.my.servlet.MyServlet">-->
    <!--        <constructor-arg name="person" ref="person"></constructor-arg>-->
    <!--    </bean>-->
    <bean id="MyBeforeAdvice" class="com.my.aop.advisor.MyBeforeAdvice"/>
    <!-- Aop配置 -->
    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* com.my.servlet.*.*(..))"/>
        <aop:advisor advice-ref="MyBeforeAdvice" pointcut-ref="mypoint"/>
        <aop:aspect>

        </aop:aspect>

    </aop:config>


</beans>