<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.MyTestMapper">
    <resultMap id="BaseResultMap" type="com.my.pojo.MyTest">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        my_test
    WHERE
       name=#{name1}
  </select>


</mapper>
