<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件的根元素 -->
<configuration>
    <!-- 环境：配置mybatis的环境 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true" />
    </settings>
    <plugins>
        <plugin interceptor="com.my.interceptor.StatementHandlerPlugin">
            <property name="someProperty" value="100"/>
        </plugin>
        <plugin interceptor="com.my.interceptor.ParameterHandlerPlugin">
            <property name="someProperty" value="100"/>
        </plugin>

    </plugins>
    <environments default="">
        <!-- 环境变量：可以配置多个环境变量，比如使用多数据源时，就需要配置多个环境变量 -->
        <environment id="">
            <!-- 事务管理器 -->
            <transactionManager type="jdbc">
            </transactionManager>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mytest?useUnicode=true&amp;characeterEncoding=utf-8&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="poolMaximumActiveConnections" value="12"/><!--最大活跃连接数 -->
                <property name="poolMaximumIdleConnections" value="6"/><!--最大空闲连接数-->
                <!--                <property name="poolTimeToWait" value="7"/>-->
                <!--                <property name="poolTimeToWait" value="6"/>-->
            </dataSource>

        </environment>
    </environments>
    <mappers>
        <mapper class="com.my.mapper.flowerMapper"/>
        <mapper class="com.my.mapper.userMapper"/>
    </mappers>
</configuration>